body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    
}

button:hover{
    cursor: pointer;
}

/* Nav */

.logo{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 1.6;
    letter-spacing: -0.02em;
    color: #0A1B32;
    margin: 37px 0 0 80px;
    display: inline-block;
}
.logo-dot{
    color: #FC569A;
}

ul{
    list-style: none;
    display: inline-block;
}

li > a , .nav-sign-in{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #1B0A42;
}
a,.nav-button{
    font-family: 'Roboto',sans-serif;
}
ul > li:nth-child(1){
    margin-left: 98px;
}
li{
    display: inline-block;
    margin-left: 38px;
}
.nav-sign-in{
   margin-left: 752px;
}
.nav-button{
    width: 120px;
    height: 60px;
    border-radius: 6px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    background-color: #FC569A;
    color: #FFFFFF;
    border: none;
    margin-left: 40.5px;
}

/* Nav */


/* Main */
main{
    display: flex;
    align-items: center;
}

.main-header{
    width: 100%;
    max-width: 495px;
    margin: 103px 0 0 200px;
    font-family: 'Ramaraja';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 1.05;
    letter-spacing: 0.02em;
    color: #1B0A42;
}
.main-p{
    width: 100%;
    max-width: 590px;
    margin: 10px 0 0 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: #9A9A9A;
}
.main-button{
    width: 152px;
    height: 64px;
    border: none;
    border-radius: 6px;
    margin: 50px 0 0 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background-color: #FC569A;
}

section{
    display: inline-block;
}
.meditating-img{
    width: 778px;
    height: 526px;
    margin: 133px 0 0 105px;
   
}

/* Main */